<div class="page-container {{hovered?'collaps':''}}">
    <div class="left-container {{hovered?'left-hover':''}}" >
       
        <div class="logo" (click)="collaps($event)">
            <img class="img1" src="assets/logo.png">
            <div class="{{hovered?'':'dis-none'}}" class="img2">MyTrip</div>
        </div>
        <div class="group-container">
            <app-create-chat *ngIf="openCreateChat" (openCreateChat)="openCreateChat=false"></app-create-chat>
            <div class="first-container " [style.display]="hovered?'':'none'">
                <div>Chats</div>
                <div class="plus" (click)="openCreateChat=true">+</div>
               
          </div>
          <div class="{{hovered?'dis-none':''}}" class="logo1"> <img class="img1" src="assets/chat.jpeg"></div>
          <div class="user-container">
              <div *ngFor="let x of arr" class="user-row  {{hovered?'':'user-small-row'}} {{x==chatId?'bg-gray':''}}" (click)="openChat(x)">
                  <div class="user-image"><img src="assets/pk.jpeg"></div>
                  <div class="{{hovered?'':'dis-none'}}" class="user-name" >Parveen Kumar</div>
              </div>
          </div>
      </div>
        <div class="group-container">
            <app-create-group *ngIf="openGroupChat" (openCreateChat)="openGroupChat=false"></app-create-group>
            
            <div class="first-container" [style.display]="hovered?'':'none'">
                  <div>Groups</div>
                  <div class="plus" (click)="openGroupChat=true">+</div>
            </div>
            <div class="{{hovered?'dis-none':''}}" class="logo1"> <img class="img1" src="assets/group.png"></div>
            <div class="user-container">
                <div *ngFor="let x of arr" class="user-row  {{hovered?'':'user-small-row'}} {{x==chatId?'bg-gray':''}}" (click)="openChat(x)" >
                    <div class="user-image"><img src="assets/pk.jpeg"></div>
                    <div class="{{hovered?'':'dis-none'}}" class="user-name" >Parveen Kumar</div>
                </div>
            </div>
      </div>
      <button (click)="logOut()">logout</button>
      
    </div>
    <div class="right-container {{hovered?'right-hover':''}}">
        <div *ngIf="!isOpenChat" class="chatIcons"><img  class="" src="assets/chatIcons.svg">
        <div  *ngIf="!isOpenChat" class="text"><p>Welcome to our chat application!</p><br> Here, you can easily communicate with your friends and family in real-time. Whether you want to catch up with loved ones or collaborate with colleagues, our platform makes it easy to stay connected.<br>

            To get started, simply create an account and start chatting. You can create private groups or join existing ones, and share messages, photos, and more. Our platform also supports voice and video calls, so you can communicate however you prefer.<br>
            
            We take your privacy and security seriously, so you can trust that your conversations are safe and secure. Plus, our user-friendly interface makes it easy to navigate and use our application.
            <br>
            Thank you for choosing our chat application and happy chatting!</div></div>
         
       <app-chat-section *ngIf="isOpenChat" [chatId]="chatId"></app-chat-section>
    </div>
</div>
