.pop-up{
    position: absolute;
    top: 3px;
    right: 68px;
  padding: 30px;
  border-radius: 12px;
  width: 400px;

    display: flex;
    align-items: center;
    background-color: #228298;
    color: #ffff;
}